<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Company Listing</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <style>
      #com-list {
        color: #4154f1;
        background: #f6f9ff;
      }

      .internal {
        background-color: green;
        color: #f6f9ff;
      }

      .external {
        background-color: skyblue;
        color: #f6f9ff;
      }
    </style>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/img/logo.png" alt="" />
          <span class="d-none d-lg-block">Recruit CRM</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <div class="search-bar">
        <form
          class="search-form d-flex align-items-center"
          method="POST"
          action="#"
        >
          <input
            type="text"
            name="query"
            placeholder="Search"
            title="Enter search keyword"
          />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>
          <!-- End Search Icon-->

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span> </a
            ><!-- End Notification Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
            >
              <li class="dropdown-header">
                You have 4 new notifications
                <a href="#"
                  ><span class="badge rounded-pill bg-primary p-2 ms-2"
                    >View all</span
                  ></a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-exclamation-circle text-warning"></i>
                <div>
                  <h4>Lorem Ipsum</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>30 min. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-x-circle text-danger"></i>
                <div>
                  <h4>Atque rerum nesciunt</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>1 hr. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-check-circle text-success"></i>
                <div>
                  <h4>Sit rerum fuga</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>2 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-info-circle text-primary"></i>
                <div>
                  <h4>Dicta reprehenderit</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>4 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>
              <li class="dropdown-footer">
                <a href="#">Show all notifications</a>
              </li>
            </ul>
            <!-- End Notification Dropdown Items -->
          </li>
          <!-- End Notification Nav -->

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-chat-left-text"></i>
              <span class="badge bg-success badge-number">3</span> </a
            ><!-- End Messages Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages"
            >
              <li class="dropdown-header">
                You have 3 new messages
                <a href="#"
                  ><span class="badge rounded-pill bg-primary p-2 ms-2"
                    >View all</span
                  ></a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img
                    src="assets/img/messages-1.jpg"
                    alt=""
                    class="rounded-circle"
                  />
                  <div>
                    <h4>Maria Hudson</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>4 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img
                    src="assets/img/messages-2.jpg"
                    alt=""
                    class="rounded-circle"
                  />
                  <div>
                    <h4>Anna Nelson</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>6 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img
                    src="assets/img/messages-3.jpg"
                    alt=""
                    class="rounded-circle"
                  />
                  <div>
                    <h4>David Muldon</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>8 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="dropdown-footer">
                <a href="#">Show all messages</a>
              </li>
            </ul>
            <!-- End Messages Dropdown Items -->
          </li>
          <!-- End Messages Nav -->

          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                src="assets/img/profile-img.jpg"
                alt="Profile"
                class="rounded-circle"
              />
              <span class="d-none d-md-block dropdown-toggle ps-2"
                >A. Javed</span
              > </a
            ><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header">
                <h6>Aaqib Javed</h6>
                <span>CEO</span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="users-profile.html"
                >
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="users-profile.html"
                >
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#forms-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-journal-text"></i><span>Company</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="forms-nav"
            class="nav-content collapse show"
            data-bs-parent="#sidebar-nav"
          >
            <li id="com-list">
              <a href="company_list">
                <i class="bi bi-circle"></i><span>Company Listing</span>
              </a>
            </li>
            <li>
              <a href="company_add">
                <i class="bi bi-circle"></i><span>Add Company</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Forms Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#tables-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span>Visa</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="tables-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="/visa-list">
                <i class="bi bi-circle"></i><span>Visa Listing</span>
              </a>
            </li>
            <li>
              <a href="/VisaRegistration">
                <i class="bi bi-circle"></i><span>Add Visa</span>
              </a>
            </li>
            <li>
              <a href="visa-add-permission">
                <i class="bi bi-circle"></i><span>Add Visa Permission</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Visa Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#charts-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-bar-chart"></i><span>Candidate </span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="charts-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="candidate-list.html">
                <i class="bi bi-circle"></i><span>Candidate Listing</span>
              </a>
            </li>
            <li>
              <a href="candidate-add.html">
                <i class="bi bi-circle"></i><span>Add Candidate</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Candidate Nav -->
        <!-- 
      <li class="nav-heading">Quick Links</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
       -->
        <!-- End Profile Page Nav -->
        <!-- 
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li>
       -->
        <!-- End Blank Page Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Company List</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Company</li>
            <li class="breadcrumb-item active">Company List</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
      <section class="section dashboard">
        <div class="row">
          <!-- Left side columns -->
          <div class="col-lg-12">
            <div class="row">
              <!-- Recent Sales -->
              <div class="col-12">
                <div class="card recent-sales overflow-auto">
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"
                      ><i class="bi bi-three-dots"></i
                    ></a>
                    <ul
                      class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                    >
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>

                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">Company <span>| Today</span></h5>

                    <table class="table table-borderless datatable">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Company Name</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Email</th>
                          <th scope="col">Country</th>
                          <th scope="col">Type</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody id="table">
                        <% result.forEach((Company) =>{ %>
                        <tr>
                          <!-- <th scope="row"><a href="#"><%=Company.Hash_id%></a></th> -->
                          <th scope="row"><%=Company.Date%></th>
                          <!-- <th scope="row"><a href="#"> </a></th> -->

                          <td><%=Company.Company_Name%></td>
                          <!-- <td><a href="#" class="text-primar"><%=Company.Website%>.</a></td> -->

                          <!-- <td><%=Company.Cell_No%></td> -->

                          <!-- <td><%=Company.Telephone_No%></td> -->

                          <%if (Company && Company.Telephone_No.length==0) { %>
                          <td><%= Company.Cell_No%></td>

                          <% } else { %>
                          <td><%=Company.Telephone_No%></td>
                          <!-- 
                          <% } %> <% if (Company && Company.Telephone_No!==
                          null) { %>
                          <td><%= Company.Telephone_No %></td>
                          <% } else if (Company && Company.Telephone_No == null)
                          { %>
                          <td><%= Company.Cell_No %></td>
                          <% } else { %>
                          <td>Error: Company or relevant data not available</td>
                          <% } %> -->

                          <!-- <td>+<%= Company.email %></td> -->
                          <th scope="row">
                            <a href="#"><%=Company.email%></a>
                          </th>
                          <!-- <td><a href="#" class="text-primar"><%=Company.Website%>.</a></td> -->
                          <td><%=Company.Country%></td>
                          <td>
                            <span
                              class="badge <%= Company.Type==='Internal (Own Agency)'? 'internal':'external'%>"
                              ><%=Company.Type%>
                            </span>
                          </td>

                          <!-- Button trigger modal -->
                          <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

                          <!-- <script>
                              var Type =  '<%= Company.Type %>';
                             if(Type==='Internal(Own Agency)') document.write("<td><span class='badge bg-success'>Internal(Own Agency)</span></td>")
                             if(Type==='External(Other Agency)') document.write("<td><span class='badge bg-info'>External(Other Agency)</span></td>")
                             </script>
                             -->

                          <!-- <script>
                             var status=`<%= Company.Status%>`;
                             if(status==='Pending') document.write("<td><span class='badge bg-warning'>Pending</span></td>")
                             if(status==='Approved') document.write("<td><span class='badge bg-success'>Approved</span></td>")
                             if(status==='Rejected') document.write("<td><span class='badge bg-danger'>Rejected</span></td>")
                            </script> -->

                          <div col-md-12>
                            <td class="d-flex">
                              <!-- Modal  for eye-->
                              <div
                                class="modal fade"
                                id="exampleModal"
                                tabindex="-1"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true"
                              >
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1
                                        class="modal-title fs-5"
                                        id="exampleModalLabel"
                                      >
                                        Company Details
                                      </h1>
                                      <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                      ></button>
                                    </div>
                                    <div class="modal-body">
                                      <!-- Vertical Form -->
                                      <form>
                                        <div class="col-md-6">
                                          <label
                                            for="inputNanme5"
                                            class="form-label"
                                            >Sponsor’s Name / Company
                                            Name</label
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            id="company"
                                            name="Company_Name"
                                            value="<%= result.Company_Name %>"
                                          />
                                        </div>

                                        <!-- 
                                          <div class="col-md-6">
                                      <label for="inputNanme4" class="form-label">Company Name</label>
                                      <input type="text" class="form-control" id="inputNanme4" value="M Wasel Ibn-e-Bulayhid" disabled>
                                    </div> -->

                                        <div class="col-md-6">
                                          <label
                                            for="inputNanme4"
                                            class="form-label"
                                            >Date</label
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            id="inputNanme4"
                                            name="Date"
                                            value="<%= result.Date%>"
                                          />
                                        </div>

                                        <div class="col-md-6">
                                          <label
                                            for="inputNanme4"
                                            class="form-label"
                                            >Country</label
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            name="Country"
                                            value="<%= result.Country%>"
                                          />
                                        </div>

                                        <div class="col-md-6">
                                          <label
                                            for="inputAddress"
                                            class="form-label"
                                            >Type</label
                                          >
                                          <select
                                            class="form-select"
                                            aria-label="Default select example"
                                            name="Type"
                                            value="<%= result.Type %>"
                                          >
                                            <option selected>
                                              Select Company Type
                                            </option>
                                            <option
                                              value="Internal (Own Agency)"
                                            >
                                              Internal (Own Agency)
                                            </option>
                                            <option
                                              value="External (Other Agency)"
                                            >
                                              External (Other Agency)
                                            </option>
                                          </select>
                                        </div>

                                        <div class="col-md-6">
                                          <label
                                            for="inputNanme4"
                                            class="form-label"
                                            >Telephone No</label
                                          >
                                          <input
                                            type="text"
                                            class="form-control"
                                            id="inputNanme4"
                                            name="Telephone_No"
                                            value="<%= result.Telephone_No%>"
                                          />
                                        </div>

                                        <div class="col-md-6">
                                          <label
                                            for="inputPassword4"
                                            class="form-label"
                                            >E-mail</label
                                          >
                                          <input
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            value="<%= result.email%>"
                                          />
                                        </div>

                                        <div class="text-center">
                                          <button
                                            type="submit"
                                            class="btn btn-primary"
                                          >
                                            Close
                                          </button>
                                        </div>
                                      </form>
                                      <!-- Vertical Form -->
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <form
                                action="/Edit_company/<%=Company._id%> "
                                method="get"
                              >
                                <i
                                  class="bi bi-eye-fill text-success"
                                  data-bs-toggle="modal"
                                  data-bs-target="#exampleModal"
                                ></i>
                              </form>

                              <form
                                action="/Edit_company/<%=Company._id%> "
                                method="get"
                              >
                                <button
                                  class="bi bi-pencil-square border-0 bg-white"
                                ></button>
                              </form>

                              <form
                                action="/Delete_company/<%=Company._id%> "
                                method="post"
                                onsubmit="return confirmDelete()"
                              >
                                <!-- <button  class="delete-button">Delete</button>   -->
                                <!-- <td><i class="bi bi-pencil-square"></i><i class="bi bi-trash"></i></td>> -->

                                <button
                                  class="bi bi-trash border-0 bg-white"
                                  type="submit"
                                ></button>
                              </form>
                            </td>
                          </div>
                        </tr>

                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- End Recent Sales -->
            </div>
          </div>
          <!-- End Left side columns -->
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Recruit CRM</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">Designed by <a href="">Codaphic</a></div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>

  <script>
    //   const data = JSON.parse('<%- JSON.stringify(result )%>')
    // console.log(data)

    function confirmDelete() {
      return confirm("Are you sure you want to delete this company?");
    }
  </script>
</html>
